.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;  
    position: relative;
    bottom: 0;
    margin-top: 20px; 
    left: 0;
    right: 0;
  }
  
  .footer p {
    margin: 0;
    font-size: 1rem;
  }
  